 <!-- Work Section -->
    <section class="success" id="work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="large">알티미디어 (2021.10-재직중)</p>
                </div>
                <div class="col-lg-4">
                    <p>· KT STB 앱 개발 업무 및 PL 업무 담당</p>
                    <p>· ACAP/WEB/Android STB 환경 앱 개발</p>
                    <br>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="large">알티캐스트 (2015.01-2021.10)</p>
                </div>
                <div class="col-lg-4">
                    <p>· KT STB 앱 개발 업무 및 PL 업무 담당</p>
                    <p>· ACAP/WEB/Android STB 환경 앱 개발</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
